<table class="obcontainer" cellpadding="0" style="padding-bottom:5px" cellspacing="0">
      <tbody>
         <tr>
            <td valign="top" colspan="2">
               <h3 class="r" />
            </td>
         </tr>
         <tr>
            <td width="100%" valign="top">
               <div>
                  <table style="width:34.24em;border-top:0" cellpadding="0" cellspacing="0">
                     <tbody>
                        <tr>
                           <td class="r">
                              Flight status for
                              <b>
                              Air France 7
                              </b>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div>
                  <table cellspacing="0">
                     <tbody>
                        <tr>
                           <td style="height:1.2em;color:#c00;padding: 4px 0" colspan="2">
                              Delayed
                           </td>
                           <td style="height:1.2em;color:#808080;text-align:right;padding: 4px 0;padding-left:20px" colspan="3">
                              departs in 3 hours 37 minutes
                           </td>
                        </tr>
                        <tr>
                           <td style="color:#808080">
                              Departure
                           </td>
                           <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:15px" title="John F. Kennedy International Airport">
                              JFK
                           </td>
                           <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:35px">
                              9:15pm
                           </td>
                           <td style="color:#808080;padding-left:4px">
                              (scheduled 7:05pm)
                           </td>
                           <td style="font-size:medium;font-weight:bold;text-align:right;padding-left:35px">
                              Terminal 1
                           </td>
                        </tr>
                        <tr>
                           <td />
                           <td style="text-align:left;padding-left:15px">
                              New York
                           </td>
                           <td style="text-align:left;padding-left:35px">
                              Apr 15
                           </td>
                        </tr>
                        <tr>
                           <td style="height:0.4em" colspan="5" />
                        </tr>
                        <tr>
                           <td style="color:#808080">
                              Arrival
                           </td>
                           <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:15px" title="Charles de Gaulle Airport">
                              CDG
                           </td>
                           <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:35px">
                              7:47am
                           </td>
                           <td style="color:#808080;padding-left:4px">
                              (scheduled 8:30am)
                           </td>
                           <td style="font-size:medium;font-weight:bold;text-align:right;padding-left:35px">
                              Terminal 2E
                           </td>
                        </tr>
                        <tr>
                           <td />
                           <td style="text-align:left;padding-left:15px">
                              Paris
                           </td>
                           <td style="text-align:left;padding-left:35px">
                              Apr 16
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div>
                  <table style="width:34.24em;border-top:0;padding: 0.4em 0 0 0" cellpadding="0" cellspacing="0">
                     <tbody>
                        <tr>
                           <td style="color:#808080">
                              Updated 2 minutes ago by flightstats.com -
                              <a class="fl" href="/url?q=http://www.flightstats.com/go/FlightStatus/flightStatusByFlight.do%3Fairline%3DAF%26flightNumber%3D7%26departureDate%3D2014-04-15%26utm_source%3DairlineInformationAndStatus%26utm_medium%3Dcpc%26utm_campaign%3Dco-op&sa=U&ei=laZNU9rKEpOrsATmqYHwBQ&ved=0CCYQoRIoADAA&usg=AFQjCNH8XHrDeMJI1WA2CZYb5V1Y0yB5zg">
                              Details
                              </a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </td>
         </tr>
      </tbody>
   </table>