<table class="obcontainer" cellpadding="0" style="padding-bottom:5px" cellspacing="0">
   <tbody>
      <tr>
         <td valign="top" colspan="2">
            <h3 class="r" />
         </td>
      </tr>
      <tr>
         <td width="100%" valign="top">
            <div>
               <table style="width:34.24em;border-top:0" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td class="r">
                           Flight status for
                           <b>
                           United Airlines 401
                           </b>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div>
               <table cellspacing="0">
                  <tbody>
                     <tr>
                        <td style="height:1.2em;color:#093;padding: 4px 0" colspan="2">
                           On-time
                        </td>
                        <td style="height:1.2em;color:#808080;text-align:right;padding: 4px 0;padding-left:20px" colspan="3">
                           departs in 22 hours 44 minutes
                        </td>
                     </tr>
                     <tr>
                        <td style="color:#808080">
                           Departure
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:15px" title="George Bush Intercontinental Airport">
                           IAH
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:35px">
                           3:34pm
                        </td>
                        <td />
                        <td style="font-size:medium;font-weight:bold;text-align:right;padding-left:35px">
                           Terminal C
                        </td>
                     </tr>
                     <tr>
                        <td />
                        <td style="text-align:left;padding-left:15px">
                           Houston
                        </td>
                        <td style="text-align:left;padding-left:35px">
                           Apr 16
                        </td>
                     </tr>
                     <tr>
                        <td style="height:0.4em" colspan="5" />
                     </tr>
                     <tr>
                        <td style="color:#808080">
                           Arrival
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:15px" title="San Diego International Airport">
                           SAN
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:35px">
                           5:03pm
                        </td>
                        <td />
                        <td style="font-size:medium;font-weight:bold;text-align:right;padding-left:35px">
                           Terminal 2
                        </td>
                     </tr>
                     <tr>
                        <td />
                        <td style="text-align:left;padding-left:15px">
                           San Diego
                        </td>
                        <td style="text-align:left;padding-left:35px">
                           Apr 16
                        </td>
                        <td />
                        <td style="text-align:right;padding-left:35px">
                           Gate 45
                        </td>
                     </tr>
                     <tr>
                        <td style="height:4px;border-bottom:1px solid #d8d8d8" colspan="6" />
                     </tr>
                     <tr>
                        <td style="height:1.2em;color:#093;padding: 4px 0" colspan="2">
                           Scheduled
                        </td>
                        <td style="height:1.2em;color:#808080;text-align:right;padding: 4px 0;padding-left:20px" colspan="3">
                           departs in 1 day
                        </td>
                     </tr>
                     <tr>
                        <td style="color:#808080">
                           Departure
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:15px" title="San Diego International Airport">
                           SAN
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:35px">
                           6:28pm
                        </td>
                        <td />
                        <td style="font-size:medium;font-weight:bold;text-align:right;padding-left:35px">
                           Terminal 2
                        </td>
                     </tr>
                     <tr>
                        <td />
                        <td style="text-align:left;padding-left:15px">
                           San Diego
                        </td>
                        <td style="text-align:left;padding-left:35px">
                           Apr 16
                        </td>
                     </tr>
                     <tr>
                        <td style="height:0.4em" colspan="5" />
                     </tr>
                     <tr>
                        <td style="color:#808080">
                           Arrival
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:15px" title="San Francisco International Airport">
                           SFO
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:35px">
                           7:59pm
                        </td>
                        <td />
                        <td style="font-size:medium;font-weight:bold;text-align:right;padding-left:35px">
                           Terminal 3
                        </td>
                     </tr>
                     <tr>
                        <td />
                        <td style="text-align:left;padding-left:15px">
                           San Francisco
                        </td>
                        <td style="text-align:left;padding-left:35px">
                           Apr 16
                        </td>
                     </tr>
                     <tr>
                        <td style="height:4px;border-bottom:1px solid #d8d8d8" colspan="6" />
                     </tr>
                     <tr>
                        <td style="height:1.2em;color:#093;padding: 4px 0" colspan="2">
                           Scheduled
                        </td>
                        <td style="height:1.2em;color:#808080;text-align:right;padding: 4px 0;padding-left:20px" colspan="3">
                           departs in 1 day
                        </td>
                     </tr>
                     <tr>
                        <td style="color:#808080">
                           Departure
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:15px" title="Newark Liberty International Airport">
                           EWR
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:35px">
                           8:10am
                        </td>
                        <td />
                        <td style="font-size:medium;font-weight:bold;text-align:right;padding-left:35px">
                           Terminal C
                        </td>
                     </tr>
                     <tr>
                        <td />
                        <td style="text-align:left;padding-left:15px">
                           Newark
                        </td>
                        <td style="text-align:left;padding-left:35px">
                           Apr 17
                        </td>
                     </tr>
                     <tr>
                        <td style="height:0.4em" colspan="5" />
                     </tr>
                     <tr>
                        <td style="color:#808080">
                           Arrival
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:15px" title="Logan International Airport">
                           BOS
                        </td>
                        <td style="font-size:medium;font-weight:bold;text-align:left;padding-left:35px">
                           9:22am
                        </td>
                        <td />
                        <td style="font-size:medium;font-weight:bold;text-align:right;padding-left:35px">
                           Terminal A
                        </td>
                     </tr>
                     <tr>
                        <td />
                        <td style="text-align:left;padding-left:15px">
                           Boston
                        </td>
                        <td style="text-align:left;padding-left:35px">
                           Apr 17
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div>
               <table style="width:34.24em;border-top:0;padding: 0.4em 0 0 0" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td style="color:#808080">
                           Updated 2 minutes ago by flightstats.com -
                           <a class="fl" href="/url?q=http://www.flightstats.com/go/FlightStatus/flightStatusByFlight.do%3Fairline%3DUA%26flightNumber%3D401%26departureDate%3D2014-04-16%26utm_source%3DairlineInformationAndStatus%26utm_medium%3Dcpc%26utm_campaign%3Dco-op&sa=U&ei=e6lNU_exF8ylyASazoKgCQ&ved=0CDQQoRIoADAA&usg=AFQjCNH8Jztehd7clnhveaJBp4-PAdFKCQ">
                           Details
                           </a>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </td>
      </tr>
   </tbody>
</table>